body {
	text-align: center;
	font-family: 'VT323', monospace;
	background-color: white;
}

#overlay {
	display: flex;
	flex-direction: column;
	position: fixed;
	z-index: 100;
	color: #ffffff;
	justify-content: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: black;
}

#title {
	font-size: 100px;
}

button {
	font-family: 'VT323', monospace;
	font-size: x-large;
	background-color: whitesmoke;
	border: none;
	border-radius: 25px;
	width: 200px;
	padding: 10px;
	align-self: center;
}

button:hover {
	background-color: red;
}

#start {
	background-color: black;
	color: white;
}

#instructions {
	background: grey;
}

.flex-container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.board {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	width: 60vh;
	height: 60vh;
}

.score {
	height: 25vh;
	width: 25vh;
	background-color: black;
	z-index: 10;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	align-self: center;
	justify-content: center;
}

h2,
p {
	color: red;
	font-size: 5vh;
}

.square {
	padding: 20px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15vh;
	border-radius: 2px;
}

audio {
	display: none;
}

#red {
	background-color: red;
}

#yellow {
	background-color: yellow;
}

#green {
	background-color: green;
}

#blue {
	background-color: blue;
}

#red.active,
#green.active,
#yellow.active,
#blue.active {
	opacity: 0.5;
}

footer {
	margin-top: 250px;
}
